.container {
    width: 500px;
    background: orange;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 0 auto;
}

.red {
    width: 100px;
    height: 100px;
    background: red;
}

.green {
    width: 100px;
    height: 100px;
    background: green;
}

.blue {
    width: 100px;
    height: 100px;
    background: blue;
}

.black {
    width: 100px;
    height: 100px;
    background: black;
}